<div class="jumbotron masthead">
	<div class="container">
		<div class="hero-unit">
			<h1>Créez votre équipe</h1>
			<h3>Flathost is a bootstrap based responsive minimal, flat and afforable hosting template with easy customization and great support</h3>
			<div class="slider-actions text-center"> <a href="features.html" class="btn btn-success btn-lg">Explore Features </a> <a href="pricing.html" class="btn btn-primary btn-lg">Plans and Pricing </a> </div>
		</div>
	</div>
</div>

<div class="container">

	<div class="row mainFeatures" id="features">
		<div class="col-sm-6 col-md-4">
			<div class="img-thumbnail"> <img src="/images/secure_img.png" width="85" height="88" alt="secure">
				<div class="caption">
					<h4>Secure & Reliable</h4>
					<p>Flathost servers are having high physical security and power redundancy Your data will be secure with us.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="img-thumbnail"> <img src="/images/fast_img.png" width="85" height="88" alt="secure">
				<div class="caption">
					<h4>Super Fast</h4>
					<p>With our ultra mordern servers and optical cables, your data will be transfered to end user in milliseconds.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-0">
			<div class="img-thumbnail"> <img src="/images/support_img.png" width="85" height="88" alt="secure">
				<div class="caption">
					<h4>Customer Support</h4>
					<p>We have a dedicated team of support for sales and support to help you in anytime. You can also chat with us.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row PageHead">
		<div class="col-md-12">
			<h1>More Features</h1>
			<h3>You will get lot of features with flathost</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 features"> <img src="/images/setup_icon.png" alt="icon" class="img-responsive">
			<h4>Instant Setup</h4>
			<p>As soon as you make a successful payment via PayPal or Google Checkout, your web hosting and domain names will be activated immediately. No waiting time whatsoever.</p>
		</div>
		<div class="col-sm-6 features"> <img src="/images/backup_icon.png" alt="icon" class="img-responsive">
			<h4>Constant Backups</h4>
			<p>Your hosting account is backed up 4 times a day as standard, with our backup integration. We use dedicated backup servers, providing fast & easy individual file rollback abilities.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 features"> <img src="/images/git_icon.png" alt="icon" class="img-responsive">
			<h4>GIT/SVN Support</h4>
			<p>Web Developers love using version control systems. All of our hosting accounts can use GIT & SVN command line tools on our servers. Simply request SSH access to get started.</p>
		</div>
		<div class="col-sm-6 features"> <img src="/images/script_icon.png" alt="icon" class="img-responsive">
			<h4>280+ Install Scripts</h4>
			<p>All our hosting accounts allow you to install popular software such as Wordpress, Drupal, Joolma and Magento in one easy step. Upgrading your software is just as easy!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 features"> <img src="/images/cpanel_icon.png" alt="icon" class="img-responsive">
			<h4>cPanel Included</h4>
			<p>All hosting accounts come with the latest version of cPanel. This makes life easy for you to do routine tasks such as setting up email addresses and managing MySQL databases.</p>
		</div>
		<div class="col-sm-6 features"> <img src="/images/php_icon.png" alt="icon" class="img-responsive">
			<h4>Latest PHP &amp; MySQL</h4>
			<p>Our network runs the latest stable and secure versions of PHP & MySQL. We also implement strict security and firewall rules protecting your website from unwanted visitors 24/7.</p>
		</div>
	</div>
</div>








<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&"/cdn-cgi/l/email-protection"==a.substr(0 ,27)){s='';j=28;r=parseInt(a.substr(j,2),16);for(j+=2;a.length-j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>
<!-- Localized -->